/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25/06/2023, 10:49:27 a. m.
    Author     : kelly
*/

.choice-box {
  -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
  -fx-mark-color: white;
}

.choice-box > .label { -fx-text-fill: #2F281E; }
